useDynLib(MultiskewBART, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(Matrix, Matrix)
importFrom("methods", "new")
importFrom("stats", "cov", "dcauchy", "lm", "model.matrix",
               "residuals", "rgamma", "rnorm", "runif")
importFrom(zeallot, "%<-%")
importFrom(Rcpp, Module)
importFrom(mvtnorm, pmvnorm)
importFrom(mvtnorm, dmvnorm)
importFrom(TruncatedNormal, "rtmvnorm")
export(Hypers)
export(Opts)
export(MultiskewBART)
export(dmsn)
